<header>
  <navbar></navbar>
</header>

<div layout="vertical" layout-fill>

  <md-content flex>
    <md-content class="areasList" layout="column">
      <md-card flex>
        <md-table-container ng-cloak layout-wrap>
          <table md-table style="text: center">
            <thead md-head>
            <tr md-row>
              <th md-column><span>Espace(s)</span></th>
              <th md-column>Superficie (m2)</th>
              <th md-column>Description</th>
              <th md-column>Historique des audits</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="area in areas">
              <td md-cell>
                <a ui-sref="area-details({areaId: area.id})">
                  <b>{{ area.name }}</b>
                  <md-tooltip md-direction="right">Voir les audits et les opérations de cet espace</md-tooltip>
                </a>
              </td>
              <td md-cell>
                <span>{{area.surface}}</span>
              </td>
              <td md-cell>
                <span>{{area.complement}}</span>
              </td>
              <td md-cell class="align-right">
                <md-button class="md-icon-button md-primary" ng-click="showAudits(area.id)">
                  <md-icon class="material-icons themeBlue">content_paste</md-icon>
                  <md-tooltip md-direction="right">
                    Voir résultats audits passés
                  </md-tooltip>
                </md-button>
              </td>
            </tr>
            </tbody>
          </table>
        </md-table-container>
      </md-card>
      <section layout layout-align="start center">
        <a ui-sref="audit-global()">
          <md-button class="md-raised md-primary">
            Audit global du site pour les périodes en cours
          </md-button>
        </a>
      </section>
    </md-content>
  </md-content>
</div>
