<div layout="vertical" layout-fill>

  <md-content flex>
    <header>
      <acme-navbar></acme-navbar>
    </header>

    <md-content class="auditProcess" layout="column">
      <md-card flex>
        <section ng-repeat="operation in operations" layout="column">
          <div layout layout-align="start center" class="operationLine">
            <p flex="55" flex-gt-xs="70" flex-gt-md="80">{{operation.name}}</p>
            <md-radio-group ng-model="operation.result" class="md-primary" layout layout-align="center center" flex>
              <md-radio-button ng-value="1" flex>
                <md-icon> done </md-icon>
              </md-radio-button>
              <md-radio-button ng-value="0" flex>
                <md-icon> warning </md-icon>
              </md-radio-button>
            </md-radio-group>
          </div>
          <md-divider></md-divider>
        </section>
      </md-card>
      <section layout layout-align="end center">
        <md-button class="md-raised">
          Retour à la liste des espaces
        </md-button>
        <md-button ng-click="showConfirm($event)" class="md-raised md-primary">
          Valider l'audit
        </md-button>
      </section>
    </md-content>

  </md-content>

</div>


